<div class="growpage col-sm-12">
	<p class="top-txt text-center">这里记录了项目发起人更新的项目进展,您可以发起话题或评论,并与发起人进行交流。</p>

<div class="growout col-sm-12 text-center">
<div class="time-item1">
	<div class="item1-icon">		
	</div>
	<div class="item1-content">
		<p class="txt1">2015.10.22</p>
		<p class="txt2">音乐剧演员和剧组人员在上海举办见面会,现场出现上百名剧迷与剧组人员互动。</p>
	</div>
</div>

<div class="time-item2">
<div class="item2-icon">
	<p class="txt3 col-sm-12 text-center">2015.9.15</p>
	<p class="txt4 col-sm-12 text-center">全名创造发起众筹</p>
</div>
</div>

<div class="time-item3">
	<div class="item3-icon">		
	</div>
	<div class="item3-content">
		<p class="txt5">2015.1.15</p>
		<p class="txt6">所有演员和剧组正式成立,开始第一轮演练。</p>
	</div>
</div>

<div class="time-item4">
	<div class="item4-icon">		
	</div>
	<div class="item4-content">
		<p class="txt7">2014.12.12</p>
		<p class="txt8">上海文化基金投资100万,项目正式开始全面启动。</p>
	</div>
</div>

<div class="time-item5">
<div class="item5-icon">
	<span class="txt9 col-sm-12 text-center">项目启动</span>
</div>
</div>

</div>

</div>