.objta {
  width: 100%;
  border-bottom: 1px solid #d9d9de;
  padding: 0px;
}
.objta .objiner {
  background: #f7fafa;
  margin: 50px 0px 0px 60px;
  padding-right: 70px;
  padding-top: 10px;
}
.objta .objiner .objta-top1 {
  color: #150b09;
  font-size: 22px;
  font-weight: bold;
}
.objta .objiner .objta-top2 {
  color: #150b09;
  font-size: 14px;
  margin-bottom: 45px;
}
.objta .objiner .obj-tleft .tlft-img {
  width: 100%;
  height: 595.59px;
  cursor: pointer;
}
.objta .objiner .obj-tleft .textpublicone {
  font-size: 12px;
  color: #828587;
  margin: 44px 0px;
}
.objta .objiner .obj-tleft .textpublicone .clmargin {
  display: inline-block;
  margin-right: 20px;
}
.objta .objiner .obj-tleft .textpublicone .clver {
  vertical-align: top;
}
.objta .objiner .obj-tleft .tleft-text1 {
  color: #150b09;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 80px;
}
.objta .objiner .obj-tright {
  margin-left: 20px;
  margin-top: 50px;
}
.objta .objiner .obj-tright .otr-text {
  margin-bottom: 35px;
}
.objta .objiner .obj-tright .otr-text .textbig {
  color: #150b09;
  font-size: 40px;
  font-weight: bold;
}
.objta .objiner .obj-tright .otr-text .textmin {
  color: #150b09;
  font-size: 14px;
  font-weight: bold;
}
.objta .objiner .obj-tright .otr-text .textone {
  color: #150b09;
  font-size: 14px;
}
.objta .objiner .obj-tright .ort-share {
  padding: 0px;
  margin-bottom: 40px;
}
.objta .objiner .obj-tright .ort-share .ort-text1 {
  padding: 0px;
}
.objta .objiner .obj-tright .ort-share .ort-text1 a {
  padding: 10px 40px;
  display: inline-block;
  background-color: #ff4200;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
.objta .objiner .obj-tright .ort-share .ort-text2 {
  padding: 0px;
}
.objta .objiner .obj-tright .ort-share .ort-text2 a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #828587;
  text-decoration: none;
}
.objta .objiner .obj-tright .ort-btn {
  color: #828587;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 80px;
}
.objta .objiner .obj-tright .hr {
  border: 1px solid #d9d9de;
  width: 100%;
}
.objta .objiner .obj-tright .obj-fot {
  margin-top: 100px;
}
.objta .objiner .obj-tright .obj-fot .fot-left {
  margin-top: 20px;
}
.objta .objiner .obj-tright .obj-fot .fot-left .fl-text1 {
  color: #150b09;
  font-size: 14px;
  font-weight: bold;
}
.objta .objiner .obj-tright .obj-fot .fot-left .fl-text2 {
  color: #3faefe;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.objta2 {
  border-bottom: 1px solid #d9d9de;
  width: 100%;
}
.objta2 .objiner2 {
  margin-top: 36px;
  margin-left: 5%;
}
.objta2 .objiner2 .obj2-top a {
  text-decoration: none;
  color: #150b09;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  margin-right: 50px;
}
.objta2 .objiner2 .obj2-top .active {
  border-bottom: 3px solid #ff4200;
  padding-bottom: 36px;
}
.objta3 .objiner3 {
  margin-top: 48px;
  margin-bottom: 100px;
}
.objta3 .objiner3 .obj3-left {
  float: left;
}
.objta3 .objiner3 .obj3-left img {
  width: 100%;
}
.objta3 .objiner3 .obj3-right {
  margin-left: 20px;
  padding: 0px;
  float: right;
  margin-bottom: 400px;
}
.objta3 .objiner3 .obj3-right .borderone {
  border: 1px solid #d9d9de;
  border-radius: 3px;
  margin-bottom: 30px;
  background: #ffffc9;
}
.objta3 .objiner3 .obj3-right .borderone .serve {
  border-bottom: 1px solid #d9d9de;
  display: inline-block;
  width: 100%;
  padding: 0px 15px;
  border-radius: 3px;
  line-height: 50px;
  height: 50px;
}
.objta3 .objiner3 .obj3-right .borderone .text {
  padding: 37px 15px;
  line-height: 1.4;
}
.objta3 .objiner3 .obj3-right .borderone .text span {
  color: #ff4200;
  font-weight: bold;
}
.objta3 .objiner3 .obj3-right a {
  color: #150b09;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.objta3 .objiner3 .obj3-right p {
  padding: 0px 15px;
}
.objta3 .objiner3 .obj3-right p span {
  color: #fc835b;
  font-size: 12px;
}
.objta3 .objiner3 .obj3-right p .trone {
  color: #150b09;
}
.objta3 .objiner3 .obj3-right .border {
  border: 1px solid #d9d9de;
  border-radius: 3px;
  margin-bottom: 30px;
}
.objta3 .objiner3 .obj3-right .border .line {
  border-bottom: 1px solid #d9d9de;
  height: 50px;
  line-height: 50px;
}
.objta3 .objiner3 .obj3-right .border .line .text-left {
  padding-left: 15px;
}
.objta3 .objiner3 .obj3-right .border .line .text-right {
  padding-right: 15px;
  margin-bottom: 46px;
}
.objta3 .objiner3 .obj3-right .border .text1 {
  color: #150b09;
  font-size: 14px;
  font-weight: bold;
}
.objta3 .objiner3 .obj3-right .border .text2 {
  line-height: 1.5;
  color: #150b09;
  font-size: 12px;
}
.objta3 .objiner3 .obj3-right .border .text3 span {
  color: #150b09;
  font-size: 12px;
}
.objta3 .objiner3 .obj3-right .border .text3 .text3-one {
  font-weight: bold;
}
.objta3 .objiner3 .obj3-right .border .btnr {
  text-decoration: none;
  color: #fff;
  background: #ff4200;
  padding: 4px 50px;
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 5px;
  margin-left: 15px;
}
