.pay2 {
  padding: 80px 0px;
}
.pay2 .pay2out .top {
  margin-bottom: 67px;
}
.pay2 .pay2out .top .toptxt {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
.pay2 .pay2out .top2 .top2-txt {
  margin-bottom: 35px;
  color: #858585;
  font-size: 12px;
}
.pay2 .pay2out .top2 .top2-txt .red {
  color: #f5d4cb;
}
.pay2 .pay2out .top3 {
  position: relative;
  padding-left: 0px;
  margin-left: 10px;
  margin-bottom: 45px;
}
.pay2 .pay2out .top3:after {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  height: 1px;
  background: #dbdbe0;
  content: "";
}
.pay2 .pay2out .top3 span {
  padding: 5px 25px;
  cursor: pointer;
  border: 1px solid #dbdbe0;
  border-bottom: none;
  color: #858585;
  position: relative;
  margin-right: 5px;
  bottom: 7px;
  left: 0px;
}
.pay2 .pay2out .top3 .active {
  border: 2px solid #ff4200;
  background-image: url(../images/sekuai.png);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: bottom 0px right 0px;
}
.pay2 .pay2out .top4 {
  margin-bottom: 33px;
}
.pay2 .pay2out .top4 .top4-txt {
  font-size: 14px;
  color: #150b09;
  font-weight: bold;
}
.pay2 .pay2out .top5 {
  padding-bottom: 55px;
  border-bottom: 1px solid #d9d9de;
}
.pay2 .pay2out .top5 .top5-big span {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 1px solid gray;
  display: inline-block;
}
.pay2 .pay2out .top5 .top5-big .active {
  background-image: url(../images/xuanzhong.png);
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
}
.pay2 .pay2out .top5 .top5-big img {
  cursor: pointer;
}
.pay2 .pay2out .btm3 {
  margin-top: 40px;
}
.pay2 .pay2out .btm3 .btm3-a {
  background-color: #ff4200;
  padding: 15px 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-left: 2%;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  border-radius: 3px;
}
