<div class="container pay3">
    <div class="row pay3out" ng-repeat="ae in pay3">
        <div class="top">
            <img src="../images/cgicon.png" class="col-sm-2 text-left toptxt">
            <img src="../images/jindu3.png" class="col-sm-5 col-sm-offset-4 text-right">
        </div>
        <div class="center col-sm-12">
        	 <p class="center-txt1">
        	 	 订单号:<span>{{ae.ordernum}}</span>支付受理成功,请耐心等待众筹项目结束!
        	 </p>
        	 <p class="center-txt2">
        	 	支持者每满4000人,将从中抽取1名幸运者获得[轻睿智电单车1台](颜色随机),[限量版车筐1个],[轻客T恤1件](分男女款可选-均码)。请您在备注中写明[T恤款式:男款、女款。若无备注,随机发货]。中奖名单将在话题区公布,不足4000人按4000人抽取。以上均由轻客公司免费发货。
        	 </p>
        	 <p class="center-txt3">
        	 	 <span class="txt3-qita" ui-sref="detail">看看其它众筹项目</span>
        	 	    <!-- 设置个人购买页的路由跳转 -->
        	 	 <span class="txt3-yi">查看已支付的项目</span>
        	 </p>
        </div>
    </div>
</div>
